body {
    margin-top: 0px;
    margin-bottom: 0px;
    background: none;
    font-family: 'Slabo 27px', serif;
    color: #fff;
    overflow-x: hidden;
    width: 100%;
}

p {
    font-size: 20px;
}

.full {
    background: linear-gradient(rgba(0, 0, 0, 0.3), #1E1E1E), url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
}

.full2 {
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
}

.full2 .pet1 {
    height: 50vh;
    background: url(../img/pet1.jpg) no-repeat center;
    background-size: cover;
}

.full2 .pet1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), #F16224), url(../img/pet1.jpg) no-repeat center;
    background-size: cover;
}

.full2 .pet2:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), #F16224), url(../img/pet2.jpeg) no-repeat center;
    background-size: cover;
}

.full2 .pet3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), #F16224), url(../img/pet3.jpeg) no-repeat top;
    background-size: cover;
}

.full2 .pet4:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), #F16224), url(../img/pet4.jpeg) no-repeat center;
    background-size: cover;
}

.full2 .pet2 {
    min-height: 50vh;
    min-width: 50%;
    background: url(../img/pet2.jpeg) no-repeat center;
    background-size: cover;
}

.full2 .pet3 {
    min-height: 50vh;
    min-width: 50%;
    background: url(../img/pet3.jpeg) no-repeat top;
    background-size: cover;
}

.full2 .pet4 {
    min-height: 50vh;
    min-width: 50%;
    background: url(../img/pet4.jpeg) no-repeat center;
    background-size: cover;
}

.cursive {
    font-size: 100px;
}

h3 {
    color: #87B6A7;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.full .col-md-6 {
    margin-top: 7vh;
}

.full .row {
    margin-top: 20vh;
}

.full .col-md-4 {
    margin-top: 50px;
}

.full .btn-default {
    background-color: #F16224;
    border-width: 2px;
    border-radius: 0px;
    margin-top: 20px;
}

.glyphicon {
    line-height: 0px;
    top: 3px !important;
}

.full .btn-default:active {
    background-color: #AC3400;
    color: #fff;
}

.jumbotronFirst .row {
    margin-top: 30px;
    color: #fff;
    margin-bottom: 30px;
}

.jumbotronFirst {
    background-color: #F16224;
}

.fullHeight {
    min-height: 75vh;
    min-width: 100%;
}

.fullHeight .row {
    margin-top: 100px;
    color: #2D2D2D;
}

.fullHeight p {
    margin-top: 25px;
}

.thumbnail {
    transition: all 1s;
}

.thumblnail {
    background-color:
}

.bio {
    min-height: 100vh;
    width: 100%;
}

.bioPhotos {
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), white), url(../img/man.jpeg) right no-repeat;
    background-size: cover;
    height: 100vh;
}

.black {
    color: #404040;
}
